@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App{
  display:flex;
  justify-content: center;
  min-height:100vh;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
}

.App h2{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;

}
.drum-pannel{
  background-color: pink;
  background-size: cover;
  width: 450px;
  height:320px;
  border-radius: 10px solid black;
  padding:50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; /* adjust height and width as per your preference */
  width: 80px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  user-select: none; /* prevent text selection on rapid clicks */
  transition: background-color 0.3s; /* smooth transition for hover effects */
  font-family: 'Montserrat', sans-serif;
}

.drum-pad:hover {
  background-color: #ddd;
}

.drum-pad:active {
  background-color: #ccc;
  transform: scale(0.95); /* subtle press down effect */
}

#drum-machine {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px; /* space between grid items */
  width: 300px; /* adjust as per your preference */
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.display-content{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

